<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Team</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<link rel="stylesheet" th:href="@{style/cssANDjs/add-form.css}" />
</head>
<body>
	<div class="container">
		<h2>Add new Team</h2>
		<div class="input-box">
			<form th:object="${team}" th:action="@{/saveTeam}" action="#" method="post">
				<input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Enter new team name" autocomplete="off">
					<select id="game" th:field="*{game}" class="game-select">
						<option th:each="game: ${games}" th:value="${game.gameId}" th:text="${game.name}"></option>
					</select>
				<input type="submit" class="btn" value="Save"></input>
			</form>
		</div>
	</div>
</body>
