<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Team</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/style/cssANDjs/add-form.css}"/>
</head>
<body>
<div class="container">
    <h2>Edit the Player</h2>
    <div class="input-box">
        <form th:object="${player}" th:action="@{/updatePlayerInfo/{id}(id=${player.get().getId()})}" action="#"
              method="post">
            <input type="text" id="firstName" th:field="*{firstName}" autocomplete="off">
            <input type="text" id="nickName" th:field="*{nickName}" autocomplete="off">
            <input type="text" id="lastName" th:field="*{lastName}" autocomplete="off">
            <input type="submit" value="Update" class="btn">
        </form>

    </div>
</div>
</body>