<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>hello Teams</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<link rel="stylesheet" th:href="@{style/cssANDjs/home.css}" />
</head>
<body>
	<header>
		<a href="/add" class="btn btn-success" >Add new team</a>
	</header>
	<div class="main">
			<div th:each = "game : ${games}" class="game-container">
				<p th:text="${game.name}"></p>
				<div class="team-container">
					<ul th:each="team : ${game.teams}" class="team-box">
						<li th:text="${team.name}" class="team-name"></li>
						<li th:each = "player : ${team.players}">
							<small th:text="${player.firstName}" class="name"></small>
							<small th:text="${player.nickName}" class="nick"></small>
							<small th:text="${player.lastName}" class="name"></small>							
						</li>
						<li><a th:href="@{/delete/{id}(id=${team.teamid})}">Delete</a></li>
					</ul>
					
				
				</div>
			</div>
	</div>
			<!--  
			<th th:each = "team : ${teams}">
				<td th:if="${team.game.name == game1.name}">
					<p th:text=${team.name} style="font-size: 1.1rem"></p>
					<p th:each = "player : ${team.players}">
						<span th:text="${player.firstName}"></span>
						<span th:text="${player.lastName}"></span>
						<span th:text="${player.nickName}"></span>
						<span th:text="${player.age}"></span>
					</p>
				</td>
			</th>
			</tr>
			-->
			<!--  
			<tr>
				<th>csGo</th>
			</tr>
			<tr th:each = "team : ${teams}">
				<td th:if="${team.game.name == 'Cs:Go'}">
				
					<p th:each = "player : ${team.players}">
						<span th:text="${player.firstName}"></span>
					</p>
				
				
				
				</td>
			
			</tr>
		-->
	
		<!--  
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Nick Name</th>
			<th>Age</th>
			<th>Team</th>
		</tr>
			<tr th:each = "player : ${players}">
				<td th:text="${player.firstName}"></td>
				<td th:text="${player.lastName}"></td>
				<td th:text="${player.nickName}"></td>
				<td th:text="${player.age}"></td>
				<td th:text="${player.team.name}"></td>
				<td><a th:href="@{/delete/{id}(id=${player.id})}" class="btn btn-danger">Delete</a></td>
			</tr>
			-->
			
		
	

</body>
