<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>hello Teams</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{style/cssANDjs/teamList.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header>
    <a href="/addNewGame" class="header-btn">Add new game</a>
    <a href="/addNewTeam" class="header-btn">Add new team</a>
    <div>
        <p>[[${#httpServletRequest.remoteUser}]]</p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" class="header-btn logout-btn"/>
        </form>
    </div>
</header>
<div class="main">
    <div th:each="game : ${games}" class="game-container">
        <div class="game-container-header">
            <p th:text="${game.name}"></p>
            <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/deleteGame/{id}(id=${game.gameId})}"
               class="button"><i class="fas fa-times"></i></a>
        </div>
        <div class="team-container">
            <ul th:each="team : ${game.teams}" class="team-box">
                <div class="team-box-btn">
                    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/deleteTeam/{id}(id=${team.teamId})}"
                       class="button"><i class="far fa-trash-alt"></i></a>
                    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/editTeam/{id}(id=${team.teamId})}"
                       class="button"><i class="far fa-edit"></i></a>
                </div>
                <a th:href="${team.webSite}" target="_blank" class="webSiteLink">
                    <li th:text="${team.name}" class="team-name"></li>
                </a>
                <li th:each="player : ${team.players}">
                    <small th:text="${player.firstName}" class="name"></small>
                    <small th:text="${player.nickName}" class="nick"></small>
                    <small th:text="${player.lastName}" class="name"></small>
                    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/editPlayer/{id}(id=${player.getId()})}"
                       class="button"><i class="far fa-edit"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
